<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header loot-header flexrow">
        <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DND5E.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    <select name="system.rarity">
                        {{selectOptions config.itemRarity selected=system.rarity blank=""}}
                    </select>
                </li>
                <li>
                    <input type="text" name="system.source" value="{{system.source}}" placeholder="{{ localize 'DND5E.Source' }}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "DND5E.Description" }}</a>
        {{#if @root/isGM}}
        <a class="item" data-tab="details">{{ localize "DND5E.Details" }}</a>
        <a class="item" data-tab="effects">{{ localize "DND5E.Effects" }}</a>
        {{/if}}
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <!--{{> "dnd5e.item-description"}}-->
        <!-- START DESCRIPTION -->
        <div class="tab flexrow active" data-group="primary" data-tab="description">

            <div class="item-properties">

                <div class="form-group">
                    <label>{{ localize "item-link-tree.subType.label" }}</label>
                    <span>{{subTypeSymbol}}</span>
                </div>

                {{#if isPhysical}}
                <div class="form-group">
                    <label>{{ localize "DND5E.Quantity" }}</label>
                    {{numberInput system.quantity name="system.quantity"}}
                </div>

                <div class="form-group">
                    <label>{{ localize "DND5E.Weight" }}</label>
                    {{numberInput system.weight name="system.weight"}}
                </div>

                <div class="form-group">
                    <label>{{ localize "DND5E.Price" }}</label>
                    {{numberInput system.price.value name="system.price.value"}}
                    <select name="system.price.denomination">
                        {{selectOptions config.currencies selected=system.price.denomination labelAttr="abbreviation"}}
                    </select>
                </div>
                {{/if}}

                {{#if (or labels.toHit labels.derivedDamage)}}
                <h4 class="properties-header">{{localize "DND5E.Attack"}}/{{localize "DND5E.Damage"}}</h4>
                <ol class="properties-list">
                    {{#if labels.save}}
                    <li>
                        {{labels.save}}
                    </li>
                    {{/if}}

                    {{#if labels.toHit}}
                    <li>
                        {{labels.toHit}} {{localize "DND5E.ToHit"}}
                    </li>
                    {{/if}}

                    {{#each labels.derivedDamage}}
                    <li>
                        {{label}}
                    </li>
                    {{/each}}
                </ol>
                {{/if}}

                {{#if itemProperties.length}}
                <h4 class="properties-header">{{localize "DND5E.Properties"}}</h4>
                <ol class="properties-list">
                    {{#each itemProperties}}
                    <li>{{this}}</li>
                    {{/each}}
                </ol>
                {{/if}}
            </div>

            {{editor descriptionHTML target="system.description.value" button=true editable=editable engine="prosemirror"
                    collaborate=false}}
        </div>
        <!-- END DESCRIPTION -->

        {{!-- Details Tab --}}
        {{#if @root/isGM}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{localize "Details"}}</h3><!-- TODO loclaize -->

            <div class="form-group stacked">
                <label>{{ localize "item-link-tree.isLeafHint.label" }}</label>
                <div class="form-fields">
                    <label class="checkbox">
                        <input type="checkbox" name="flags.item-link-tree.isLeaf" {{ checked flags.item-link-tree.isLeaf }}>
                        {{ localize "item-link-tree.isLeaf.label" }}
                    </label>
                </div>
            </div>
            <!--
            <div class="form-group stacked">
                <label>{{ localize "item-link-tree.transferEffectHint.label" }}</label>
                <div class="form-fields">
                    <label class="checkbox">
                        <input type="checkbox" name="flags.item-link-tree.transferEffect" {{ checked flags.item-link-tree.transferEffect }}>
                        {{ localize "item-link-tree.transferEffect.label" }}
                    </label>
                </div>
            </div>

            <div class="form-group stacked">
                <label>{{ localize "item-link-tree.transferBonusHint.label" }}</label>
                <div class="form-fields">
                    <label class="checkbox">
                        <input type="checkbox" name="flags.item-link-tree.transferBonus" {{ checked flags.item-link-tree.transferBonus }}>
                        {{ localize "item-link-tree.transferBonus.label" }}
                    </label>
                </div>
            </div>
            -->
            <div class="form-group">
                <label>{{ localize "item-link-tree.shortDescription.label" }}</label>
                <input name="flags.item-link-tree.shortDescription" type="text" value="{{flags.item-link-tree.shortDescription}}" placeholder=""/>
            </div>
            <!--
            <div class="form-group">
                <label>{{ localize "item-link-tree.prefix.label" }}</label>
                <input name="flags.item-link-tree.prefix" type="text" value="{{flags.item-link-tree.prefix}}" placeholder=""/>
            </div>

            <div class="form-group">
                <label>{{ localize "item-link-tree.suffix.label" }}</label>
                <input name="flags.item-link-tree.suffix" type="text" value="{{flags.item-link-tree.suffix}}" placeholder=""/>
            </div>
            -->
            <div class="form-group">
                <label>{{ localize "item-link-tree.subType.label" }}</label>
                <input name="flags.item-link-tree.subType" type="text" value="{{flags.item-link-tree.subType}}" placeholder=""/>
            </div>

            <!--
            <div class="form-group">
                <label>{{ localize "item-link-tree.subType.label" }}</label>
                <select name="flags.item-link-tree.subType" style="min-width: 60.5%!important">
                    {{selectOptions subTypeTypes selected=flags.item-link-tree.subType}}
                </select>
            </div>
            -->

            <div class="form-group">
                <label>{{ localize "item-link-tree.customType.label" }}</label>
                <select name="flags.item-link-tree.customType" style="min-width: 60.5%!important">
                    {{selectOptions customTypeTypes selected=flags.item-link-tree.customType}}
                </select>
            </div>

            <div class="form-group">
                <label>{{ localize "item-link-tree.filterItemType.label" }}</label>
                <input name="flags.item-link-tree.filterItemType" type="text" value="{{flags.item-link-tree.filterItemType}}" placeholder=""/>
            </div>
        </div>
        {{/if}}
        {{!-- Effects Tab --}}
        {{#if @root/isGM}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "dnd5e.active-effects"}}
        </div>
        {{/if}}
    </section>
</form>
