<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header loot-header flexrow">
        <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DND5E.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    {{#if system.toolType}}
                      {{lookup config.toolTypes system.toolType}}
                    {{else}}
                      {{localize "ITEM.TypeTool"}}
                    {{/if}}
                </li>
                <li>
                    <select name="system.rarity">
                        {{selectOptions config.itemRarity selected=system.rarity blank=""}}
                    </select>
                </li>
                <li>
                    <!--{{> "dnd5e.item-source"}}-->
                    <!-- START SOURCE -->
                    {{#if (eq system.source.custom system.source.label)}}
                    <input type="text" name="system.source.custom" value="{{system.source.custom}}"
                            placeholder="{{ localize 'DND5E.Source' }}">
                    {{else}}
                    <span>{{system.source.label}}</span>
                    {{/if}}
                    {{#if editable}}
                    <a class="config-button" data-action="source" data-tooltip="DND5E.SourceConfig">
                        <i class="fas fa-cog"></i>
                    </a>
                    {{/if}}
                    <!-- END SOURCE -->
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "DND5E.Description" }}</a>
        {{#if @root/isGM}}
        <a class="item" data-tab="details">{{ localize "DND5E.Details" }}</a>
        <a class="item" data-tab="leaf-details">{{ localize "item-link-tree.label.LeafTabTitle" }}</a>
        <a class="item" data-tab="effects">{{ localize "DND5E.Effects" }}</a>
        {{/if}}
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <!--{{> "dnd5e.item-description"}}-->
        <!-- START DESCRIPTION -->
        <div class="tab flexrow active" data-group="primary" data-tab="description">

        {{#if editingDescriptionTarget}}
            {{editor enriched.editing target=editingDescriptionTarget button=false editable=editable
                    engine="prosemirror" collaborate=true}}
        {{else}}
            <div class="item-properties">
                {{#if isPhysical}}
                <div class="form-group">
                    <label>{{ localize "DND5E.Quantity" }}</label>
                    {{numberInput system.quantity name="system.quantity"}}
                </div>

                <div class="form-group">
                    <label>{{ localize "DND5E.Weight" }}</label>
                    {{numberInput system.weight name="system.weight"}}
                </div>

                <div class="form-group">
                    <label>{{ localize "DND5E.Price" }}</label>
                    {{numberInput system.price.value name="system.price.value"}}
                    <select name="system.price.denomination">
                        {{selectOptions config.currencies selected=system.price.denomination labelAttr="abbreviation"}}
                    </select>
                </div>
                {{/if}}

                {{#if (or labels.toHit labels.derivedDamage)}}
                <h4 class="properties-header">{{localize "DND5E.Attack"}}/{{localize "DND5E.Damage"}}</h4>
                <ol class="properties-list">
                    {{#if labels.save}}
                    <li>
                        {{labels.save}}
                    </li>
                    {{/if}}

                    {{#if labels.toHit}}
                    <li>
                        {{labels.toHit}} {{localize "DND5E.ToHit"}}
                    </li>
                    {{/if}}

                    {{#each labels.derivedDamage}}
                    <li>
                        {{label}}
                    </li>
                    {{/each}}
                </ol>
                {{/if}}

                {{#if itemProperties.length}}
                <h4 class="properties-header">{{localize "DND5E.Properties"}}</h4>
                <ol class="properties-list">
                    {{#each itemProperties}}
                    <li>{{this}}</li>
                    {{/each}}
                </ol>
                {{/if}}
            </div>

            <div class="item-description">
                {{#if (or editable system.description.value)}}
                    {{#if editable}}
                        <h3 class="description-header">
                            <i class="accordion-indicator fa-solid fa-chevron-down"></i>
                            {{localize "DND5E.Description"}}
                            <a class="description-edit" data-target="system.description.value">
                                <i class="fa-solid fa-edit"></i>
                            </a>
                        </h3>
                    {{/if}}
                    {{editor enriched.description target="system.description.value" editable=false engine="prosemirror"}}
                {{/if}}

                {{#if (or editable system.description.unidentified)}}
                    <h3 class="description-header">
                        <i class="accordion-indicator fa-solid fa-chevron-down"></i>
                        {{localize "DND5E.DescriptionUnidentified"}}
                        {{#if editable}}
                            <a class="description-edit" data-target="system.description.unidentified">
                                <i class="fa-solid fa-edit"></i>
                            </a>
                        {{/if}}
                    </h3>
                    {{editor enriched.unidentified target="system.description.unidentified" editable=false engine="prosemirror"}}
                {{/if}}

                {{#if (or editable system.description.chat)}}
                    <h3 class="description-header">
                        <i class="accordion-indicator fa-solid fa-chevron-down"></i>
                        {{localize "DND5E.DescriptionChat"}}
                        {{#if editable}}
                            <a class="description-edit" data-target="system.description.chat">
                                <i class="fa-solid fa-edit"></i>
                            </a>
                        {{/if}}
                    </h3>
                    {{editor enriched.chat target="system.description.chat" editable=false engine="prosemirror"}}
                {{/if}}
            </div>
        {{/if}}
        </div>
        <!-- END DESCRIPTION -->

        {{!-- Details Tab --}}
        {{#if @root/isGM}}
        <div class="tab details" data-group="primary" data-tab="details">
            {{!-- Tool Status --}}
            <div class="form-group stacked">
                <label>{{ localize "DND5E.ItemToolStatus" }}</label>
                <div class="form-fields">
                    <label class="checkbox">
                        <input type="checkbox" name="system.equipped" {{ checked system.equipped }}>
                        {{ localize "DND5E.Equipped" }}
                    </label>
                </div>
            </div>

            {{!-- Tool Type --}}
            <div class="form-group">
                <label>{{ localize "DND5E.ItemToolType" }}</label>
                <select name="system.toolType">
                    {{selectOptions config.toolTypes selected=system.toolType blank=""}}
                </select>
            </div>

            <div class="form-group">
                <label>{{ localize "DND5E.ItemToolBase" }}</label>
                <select name="system.baseItem">
                    {{selectOptions baseItems selected=system.baseItem blank=""}}
                </select>
            </div>

            <div class="form-group">
                <label>{{localize "DND5E.Attunement"}}</label>
                <select name="system.attunement" data-dtype="Number">
                    {{selectOptions config.attunements selected=system.attunement}}
                </select>
            </div>

            {{!-- Tool Proficiency --}}
            <div class="form-group">
                <label>{{ localize "DND5E.ItemToolProficiency" }}</label>
                <select name="system.proficient" data-dtype="Number">
                    {{selectOptions config.proficiencyLevels selected=system.proficient
                                    blank=(localize "DND5E.Automatic")}}
                </select>
            </div>

            {{!-- Ability Check --}}
            <div class="form-group">
                <label>{{ localize "DND5E.DefaultAbilityCheck" }}</label>
                <select name="system.ability">
                    {{selectOptions config.abilities selected=system.ability labelAttr="label"
                                    blank=(localize "DND5E.Default")}}
                </select>
            </div>

            {{!-- Tool Bonus --}}
            <div class="form-group">
                <label>{{ localize "DND5E.ItemToolBonus" }}</label>
                <input type="text" name="system.bonus" value="{{system.bonus}}" data-formula-editor/>
            </div>

            {{!-- Chat Message Flavor --}}
            <div class="form-group stacked">
                <label>{{ localize "DND5E.ChatFlavor" }}</label>
                <input type="text" name="system.chatFlavor" value="{{system.chatFlavor}}"/>
            </div>
        </div>
        <div class="tab details" data-group="primary" data-tab="leaf-details">
            <h3 class="form-header">{{localize "item-link-tree.label.LeafTabTitle"}}</h3>

            <div class="form-fields">
                <label>{{ localize "item-link-tree.isLeafHint.label" }}</label>
                <div class="form-fields">
                    <label class="checkbox">
                        <input type="checkbox" name="flags.item-link-tree.isLeaf" {{ checked flags.item-link-tree.isLeaf }}>
                        {{ localize "item-link-tree.isLeaf.label" }}
                    </label>
                </div>
            </div>

            <div class="form-fields">
                <label>{{ localize "item-link-tree.showImageIconHint.label" }}</label>
                <div class="form-fields">
                    <label class="checkbox">
                        <input type="checkbox" name="flags.item-link-tree.showImageIcon" {{ checked flags.item-link-tree.showImageIcon }}>
                        {{ localize "item-link-tree.showImageIcon.label" }}
                    </label>
                </div>
            </div>

            
            <!--
            <div class="form-group stacked">
                <label>{{ localize "item-link-tree.transferEffectHint.label" }}</label>
                <div class="form-fields">
                    <label class="checkbox">
                        <input type="checkbox" name="flags.item-link-tree.transferEffect" {{ checked flags.item-link-tree.transferEffect }}>
                        {{ localize "item-link-tree.transferEffect.label" }}
                    </label>
                </div>
            </div>

            <div class="form-group stacked">
                <label>{{ localize "item-link-tree.transferBonusHint.label" }}</label>
                <div class="form-fields">
                    <label class="checkbox">
                        <input type="checkbox" name="flags.item-link-tree.transferBonus" {{ checked flags.item-link-tree.transferBonus }}>
                        {{ localize "item-link-tree.transferBonus.label" }}
                    </label>
                </div>
            </div>
            -->
            <div class="form-group">
                <label>{{ localize "item-link-tree.shortDescription.label" }}</label>
                <input name="flags.item-link-tree.shortDescription" type="text" value="{{flags.item-link-tree.shortDescription}}" placeholder=""/>
            </div>
            <!--
            <div class="form-group">
                <label>{{ localize "item-link-tree.prefix.label" }}</label>
                <input name="flags.item-link-tree.prefix" type="text" value="{{flags.item-link-tree.prefix}}" placeholder=""/>
            </div>

            <div class="form-group">
                <label>{{ localize "item-link-tree.suffix.label" }}</label>
                <input name="flags.item-link-tree.suffix" type="text" value="{{flags.item-link-tree.suffix}}" placeholder=""/>
            </div>
            -->

            <!--
            <div class="form-group">
                <label>{{ localize "item-link-tree.subType.label" }}</label>
                <input name="flags.item-link-tree.subType" type="text" value="{{flags.item-link-tree.subType}}" placeholder=""/>
            </div>
            -->
            
            <div class="form-group">
                <label>{{ localize "item-link-tree.subType.label" }}</label>
                <select name="flags.item-link-tree.subType" style="min-width: 60.5%!important">
                    {{selectOptions subTypeTypes selected=flags.item-link-tree.subType}}
                </select>
            </div>

            <div class="form-group">
                <label>{{ localize "item-link-tree.customType.label" }}</label>
                <select name="flags.item-link-tree.customType" style="min-width: 60.5%!important">
                    {{selectOptions customTypeTypes selected=flags.item-link-tree.customType}}
                </select>
            </div>

            <div class="form-group">
                <label>{{ localize "item-link-tree.filterItemType.label" }}</label>
                <input name="flags.item-link-tree.filterItemType" type="text" value="{{flags.item-link-tree.filterItemType}}" placeholder=""/>
            </div>
        </div>
        {{/if}}
        {{!-- Effects Tab --}}
        {{#if @root/isGM}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            <!--{{> "dnd5e.active-effects"}}-->
            <!-- START EFFECTS -->
            <ol class="items-list effects-list">
            {{#each effects as |section sid|}}
            {{#unless section.hidden}}
                <li class="items-header flexrow" data-effect-type="{{section.type}}">
                    <h3 class="item-name effect-name flexrow">{{localize section.label}}</h3>
                    <div class="effect-source">{{localize "DND5E.Source"}}</div>
                    <div class="effect-source">{{localize "DND5E.Duration"}}</div>
                    <div class="item-controls effect-controls flexrow">
                        {{#if @root.editable}}
                        <a class="effect-control" data-action="create" data-tooltip="DND5E.EffectCreate">
                            <i class="fas fa-plus"></i> {{localize "DND5E.Add"}}
                        </a>
                        {{/if}}
                    </div>
                </li>

                {{#if section.info}}
                    <ol class="info">
                    {{#each section.info}}
                        <li class="notification info">{{this}}</li>
                    {{/each}}
                    </ol>
                {{/if}}

                <ol class="item-list">
                {{#each section.effects as |effect|}}
                    <li class="item effect flexrow" data-effect-id="{{effect.id}}">
                        <div class="item-name effect-name flexrow">
                            <img class="item-image" src="{{effect.icon}}"/>
                            <h4>{{effect.name}}</h4>
                        </div>
                        <div class="effect-source">{{effect.sourceName}}</div>
                        <div class="effect-duration">{{effect.duration.label}}</div>
                        <div class="item-controls effect-controls flexrow">
                            {{#if @root.editable}}
                            <a class="effect-control" data-action="toggle"
                            data-tooltip="{{#if effect.disabled}}DND5E.EffectEnable{{else}}DND5E.EffectDisable{{/if}}">
                                <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
                            </a>
                            <a class="effect-control" data-action="edit" data-tooltip="DND5E.EffectEdit">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="effect-control" data-action="delete" data-tooltip="DND5E.EffectDelete">
                                <i class="fas fa-trash"></i>
                            </a>
                            {{/if}}
                        </div>
                    </li>
                {{/each}}
                </ol>
            {{/unless}}
            {{/each}}
            </ol>            
            <!-- END EFFECTS -->
        </div>
        {{/if}}
    </section>
</form>
