<div class="item-link-tree-tab">
  <ol class="items-list item-link-tree-items-list">
    <li class="items-header flexrow">
      <h3 class="item-name flexrow">
        {{localize 'Tree'}}
      </h3>

      <div class="item-detail">
        {{localize 'item-link-tree.customLink.label'}}
      </div>
      <!--
      <div class="item-detail">
        {{localize 'DND5E.ActionSave'}}
      </div>

      <div class="item-detail leaf-uses">
        {{localize 'DND5E.Uses'}}
      </div>

      <div class="item-detail leaf-uses">
        {{localize 'DND5E.Charges'}}
      </div>
      -->

      <div class="item-controls"></div>

    </li>

    <ol class="item-list">
      {{#each itemLeafs as |leaf|}}
      <li class="item context-enabled flexrow" data-item-id="{{leaf.id}}">
        <div class="item-name flexrow rollable">
          <div class="item-image" style="background-image: url({{leaf.img}})"></div>
          <h4>{{leaf.name}}</h4>
        </div>

        <div class="item-detail item-link-tree-item-detail">
          <span title="{{leaf.customLink}}">{{leaf.customLink}}</span>
        </div>
        <!--
        <div class="item-detail item-link-tree-item-detail">
          {{#if leaf.labels.save}}
          <span title="{{labels.save}}">{{labels.save}}</span>
          {{/if}}
        </div>

        <div class="item-detail item-link-tree-item-detail">
          {{#if (gt leaf.system.uses.max 0)}}
          {{leaf.system.uses.max}}
          <span class="sep">{{localize "DND5E.per"}}</span>
          {{lookup @root/config.limitedUsePeriods leaf.system.uses.per}}
          {{/if}}
        </div>

        <div class="item-detail item-link-tree-item-detail">
          {{#if (gt leaf.system.consume.amount 0)}}
          {{leaf.system.consume.amount}}
          {{localize 'DND5E.Charges'}}
          {{/if}}
        </div>
        -->
        <div class="item-controls flexrow context-menu item-link-tree-item-controls">
          {{#if @root/isOwner}}
          <a class="item-control configure-overrides"
            data-tooltip="{{#unless @root/isOwned}}item-link-tree.ConfigureOverrides{{else}}item-link-tree.Configure{{/unless}}">
            <i class="fas fa-edit"></i>
          </a>

          <a class="item-control item-create-custom-link" data-tooltip="item-link-tree.CreateCustomLink">
            <i class="fa-solid fa-share-from-square"></i>
          </a>

          {{#if @root/isOwned}}
          <a class="item-control item-destroy" data-tooltip="item-link-tree.DeleteSpell">
            <i class="fas fa-trash"></i>
          </a>
          {{else}}
          <a class="item-control item-delete" data-tooltip="item-link-tree.RemoveLink">
            <i class="fas {{#if @root/isOwned}}fa-link-slash{{else}}fa-trash{{/if}}"></i>
          </a>
          {{/if}}

          {{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
  </ol>

</div>
